APP_NAME=auth_user_service
APP_ENV=development
APP_PORT=3003
LOG_DIR=./storage/logs
LOG_BUFFER_SIZE=1000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=okejek
DB_PASSWORD=okejek
DB_NAME=okejek_user
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

RATE_LIMIT_MAX=100
RATE_LIMIT_EXPIRATION=60
